/*Container general*/
main {background-color:lightblue;}

@media screen and (min-width: 768px) {        
    :root {
        --window-padding: 10rem;
    }    
}
@media screen and (max-width: 768px) {        
    section.slide {
        background-position-x: right, -100px;        
        background-position-y: bottom, bottom;
        background-size: 80%, auto;
    }
}

/* RESET */
body, header {margin: 0; padding: 0;}

/* STYLES */
body {    
    min-height: 100vh;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 16px;
}


/*Header*/

header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    padding: 0.3em var(--window-padding);
    background-color: rgb(46, 0, 46);    
    font-size: 0.8em;

}

nav {        
    display: flex;
    gap: 1em;
    align-items: center;
}
nav a {
    display: flex;    
    align-items: center;
    gap: 0.5em;
    color: white;
    fill: white;
    font-weight: 300;
    text-transform: uppercase;
}
nav a:hover {
    color: yellowgreen;
}
    
/*SLIDE*/
.slide {
    display: flex;
    justify-content: center;
    background-image: url(../assets/headerPNG.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: white;
}


/*MAIN*/
main {

}


footer {

}   