/*Container general*/
header, nav, main, footer {background-color:gray;}

body {
    margin: 1em;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 6em);
    gap: 1em;
}

/* navbar */
nav {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center
}

li {
    float: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    width: 12%;
    list-style: none;
    text-align: center;
}

.link {
    color: white;
    text-decoration: none;
    font-family: 'Poppins';
}

.link:hover {
    color: limegreen;
}

/**/

header {
    grid-column: 1/6;
    padding: 1em;
}

nav {
    grid-column: 1/1;
    grid-row: 2/6;
    padding: 1em;
}

article {
    grid-column: 2/5;
    grid-row: 2/6;
    padding: 1em;
}

aside {
    grid-row: 2/6;
    padding: 1em;
}

footer {
    grid-column: 1/6;
    padding: 1em;
}   