/*Container general*/
main {background-color:white;}

  
/* RESET */
body, header {margin: 0; padding: 0;}

/* STYLES */
body {    
    min-height: 100vh;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 16px;
}


/*Header*/

header {
    box-sizing: border-box;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    padding: 0.3em var(--window-padding);
    background:linear-gradient(to right, #0C0351, #54067E);    
    font-size: 0.8em;

}

.pHeader{
    color: white;
    margin-left: 10px;
}

nav {        
    display: flex;
    gap: 1em;
    align-items: center;
}
nav a {
    display: flex;    
    align-items: center;
    gap: 0.5em;
    color: white;
    fill: white;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 30px;
    text-decoration: none;
}

nav a:hover {
    color: magenta;

}
    
/*SLIDE*/
.slide {
    display: flex;
    justify-content: center;
    background-image: url(../assets/headerPNG.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    background-color: white;
    max-width: 2400px;
    max-height: 100vh;
    padding-top: 68vh;
}

.boton{
    border: 1px solid #06410b; 
    padding: 10px; /*espacio alrededor texto*/
    background: linear-gradient(to right, #0b6817, rgb(61, 167, 61)); 
    color: #ffffff; 
    text-decoration: none;
    text-align: center;
    font-size: 16px; 
    font-family: 'Poppins'; 
    border-radius: 8px; /*bordes redondos*/
    width: 10em;
    height: 2em;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5); /*sombra*/
    margin-top: 140px;
    margin-right: 70%;
}

/*MAIN*/
main {
    padding: 3rem (1rem);
}

h2.cocktails {
    text-align: center;
    margin: 0 0 1em;
}

/*CARDS en main*/
#cocktails {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
#cocktails article {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1.0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 290px;
    box-shadow: 3px 7px 8px rgba(0,0,0,0.4);
    background-repeat: no-repeat;
    margin-bottom: 2em;
    margin-left: 10px;
}
#cocktails article h3,
#cocktails article p {
    text-align: center;
}
#cocktails article h3 {
    font-weight: 500;
    margin: 11rem 0 1em;
    color: #333;
}
#cocktails article p {    
    margin: 0;
    font-weight: 300;
    color: #444;    
}
#cocktails article a {    
    font-weight: 400;
    padding-top: 2em;
    color: purple;
    align-self: flex-end;
}

/*Articles con alcohol*/
#cocktails article.mojito {
    background-image: url(../assets/mojito.jpg);
    background-size: 100%;
    background-position-y: 0px;
}
#cocktails article.piscoSour {
    background-image: url(../assets/piscoSour.jpg);
    background-size: 100%;
    background-position-y: -50px;
}
#cocktails article.bloodyMary {
    background-image: url(../assets/bloodyMary.jpg);
    background-size: 100%;
    background-position-y: -36px;
}
#cocktails article.negroniSbagliato {
    background-image: url(../assets/negroniSbagliato.jpg);
    background-size: 100%;
    background-position-y: -15px;
}
#cocktails article.sexBeach {
    background-image: url(../assets/sexBeach.jpg);
    background-size: 100%;
    background-position-y: -18px;
}

/*Articles sin alcohol*/
#cocktails article.mojitoTe {
    background-image: url(../assets/mojitoTe.jpg);
    background-size: 100%;
    background-position-y: -45px;
}
#cocktails article.paloma {
    background-image: url(../assets/paloma.jpg);
    background-size: 100%;
    background-position-y: 0px;
}
#cocktails article.sanFrancisco {
    background-image: url(../assets/sanFrancisco.webp);
    background-size: 100%;
    background-position-y: -36px;
}
#cocktails article.sidra {
    background-image: url(../assets/sidra.jpg);
    background-size: 100%;
    background-position-y: 0px;
}
#cocktails article.frambuesa {
    background-image: url(../assets/frambuesa.jpg);
    background-size: 100%;
    background-position-y: 0px;
}

/*botón articles*/
button.cocktails{
    background-color: rgb(223, 20, 64);
    color: white;
    cursor: pointer;
    border: 1px;
    font-size: 16px; 
    font-family: 'Poppins'; 
    border-radius: 8px;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5);
    padding: 5px;
    margin-bottom: 2em;
    margin-left: 43%;
 }

/* FOOTER */
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
    max-width: 27rem;
    position: relative;
    justify-content: center;
    
}

img{
   min-width: 12.5rem;
   max-width: 18rem;
}

ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: rgb(226, 223, 223);
    color: black;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration:underline;
}

.ft-title {
    color:black;
    font-family: 'Poppins';
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 1px;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: rgb(53, 2, 53);
    color: white;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

  

footer.copyright {
    background: #DF2272;
    color: white;
    font-size: 12px;
    margin-top: -20px;
    padding-top: 50px;
    padding: 30px 0;
    position: relative;
    text-align: center;
}




